/* Contenedor del nav */
.nav-container {
  position: sticky;
  top: 0;
  font-family: 'dynapuff', cursive;
  list-style-type: none;
  background-color: #4e9e4e;
  font-size: large;
  margin-bottom: 15;
  text-align: left;
  text-decoration-line: none;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 200; }
  .nav-container:hover {
    background-color: #adff2f; }
  .nav-container span {
    display: none; }
  .nav-container__ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    /* palabras dentro del nav */ }
    .nav-container__ul a {
      margin: 0 15px; }
    .nav-container__ul:hover {
      background-color: #adff2f;
      color: black;
      padding: 20px; }

/* Titulo */
.header-h1 {
  width: 1fr;
  font-size: 80px;
  text-align: center;
  border: 10px ridge green;
  border-radius: 10px;
  background-color: #0d5f0d;
  margin-top: 20px;
  font-family: 'aboreto', cursive;
  transition: transform 5s;
  animation-delay: 2s; }
  .header-h1:hover {
    background: #2E2E2E;
    color: green;
    animation-delay: 2s; }

/* TODA LA PANTALLA */
* {
  padding: 0;
  margin: 0;
  font-family: 'figtree', sans-serif;
  text-decoration: none; }

.fondo-img-i {
  background-image: url(./assets/fondoindex.jpg); }

/* UNICAMENTE EL BODY */
body {
  background-color: #2E2E2E; }

main {
  margin-right: 300px; }

aside {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(5 20%);
  grid-template-rows: repeat(5 20%);
  align-content: end;
  justify-items: left;
  transition: transform 5s; }
  aside:hover {
    transform: scalex(1.1) scaley(1.1);
    margin-right: 100px; }

/* footer */
footer {
  position: relative;
  background-color: #2E2E2E;
  color: #E8E8E8; }

/* ubicacion */
.body-img iframe {
  display: grid;
  grid-column-start: 4; }
  .body-img iframe iframe {
    transform: scalex(1) scaleY(1); }

/* Contenedor del iniciar sesion */
.user-container {
  border: 8px double green;
  position: relative;
  height: 100px;
  width: 250px;
  margin-top: 10px;
  background-color: darkgray;
  margin-bottom: 100px;
  /* Titulo del iniciar sesion*/ }
  .user-container__h3 {
    background-color: #0d5f0d;
    display: inline-block;
    padding: 10px;
    height: 22px;
    width: 230px;
    margin-bottom: 10px;
    text-align: center; }

/* contenedor de la imagen y la ubicacion*/
.body-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform: translate(10px); }
  .body-img:hover {
    transform: scalex(1.3) scaleY(1.3) translate(50px);
    margin-left: 100px; }

/* ubicacion */
.body-img iframe {
  display: grid;
  grid-column-start: 4; }
  .body-img iframe iframe:hover {
    transform: scalex(1) scaleY(1); }

.contenedor-main-aside {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px; }

/* Contenedor del aside del index */
.aside-container {
  bottom: 250px;
  right: 30px;
  background-color: #0d5f0d;
  border: solid 1px #2E2E2E;
  border-radius: 15px;
  /* Titulo del aside del index */
  /* Parrafo del aside del index */ }
  .aside-container__h2 {
    display: grid;
    align-items: center;
    margin-right: 40px;
    padding: 20px;
    font-size: 40px;
    background-color: #adff2f;
    border-radius: 15px;
    border-left: 5px solid green;
    border-bottom: 5px solid green;
    text-align: center;
    font-family: 'rubik dirt',cursive; }
  .aside-container__parrafo {
    font-size: 27px;
    font-family: 'merriweather', serif;
    border-bottom: 8px solid green;
    border-radius: 5px;
    display: grid; }

/* contenedor de los incriptos a torneos del index */
.inscriptos-container {
  position: relative;
  margin-bottom: 100px;
  /* titulo de los inscriptos al torneo del index */ }
  .inscriptos-container__title {
    color: wheat;
    display: inline;
    font-size: 25px;
    border-top: 7px solid green;
    border-left: 7px solid green;
    /* Tabla de los inscriptos al torneo del index */ }
  .inscriptos-container__table {
    width: 500px;
    height: 200px;
    border-color: #0d5f0d;
    background-color: #0d5f0d;
    color: #E8E8E8;
    margin-top: 10px;
    font-size: x-large; }

/* pantalla con una resolucion de 550px */
@media (max-width: 550px) {
  /* menu de navegacion  */
  .nav-container {
    flex-direction: row;
    /* menu de navegacion  */ }
    .nav-container__ul {
      display: none; }
    .nav-container span {
      background-color: green;
      display: inline; }
    .nav-container-t {
      flex-direction: row; }
    .nav-container__ul {
      display: none; }
    .nav-container-t span {
      background-color: green;
      display: inline; } }

@media (max-width: 550px) {
  /* Titulo */
  .header-h1 {
    font-size: 40px; }
  /*contenedor del iniciar sesion */
  .user-container {
    width: 320px;
    height: 150px;
    font-size: 15px;
    /* inputos del iniciar sesion */
    /* titulo del iniciar sesion */ }
    .user-container input {
      font-size: 18px; }
    .user-container__h3 {
      background-color: #0d5f0d;
      width: 300px;
      height: 50px;
      font-size: 25px; } }

/* pantalla con una resolucion de 1035px */
@media (max-width: 1035px) {
  .contenedor-main-aside {
    display: grid;
    grid-template-columns: repeat(5 20%);
    grid-template-rows: repeat(5 20%); } }

/* Contenedor del aside y del main*/
@media (max-width: 600px) {
  .contenedor-main-aside {
    display: grid;
    grid-template-columns: repeat(5 20%);
    grid-template-rows: repeat(5 20%); }
  main {
    display: grid;
    align-content: flex-start; }
  aside {
    width: 250px;
    margin: 0;
    display: grid;
    align-content: end;
    justify-items: left; }
  .aside-container__h2 {
    text-align: center;
    width: 230px; }
  .aside-container__parrafo {
    width: 250px;
    text-align: center;
    justify-items: center;
    align-content: flex-end; } }

@media (max-width: 750px) {
  .body-img iframe {
    width: 270px; } }

@media (max-width: 510px) {
  /* tabla del index*/
  .inscriptos-container__table {
    width: 200px; } }

@media (max-width: 371px) {
  .header-h1 {
    font-size: 20px; } }

/* pantalla con una resolucion de 627px */
/* grid aplicado en imagen y ubicacion */
@media (max-width: 627px) {
  .body-img {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%; }
    .body-img iframe {
      position: relative;
      grid-column-start: 1;
      grid-row-start: 3;
      width: 270px;
      height: 100px; }
    .body-img img {
      position: relative;
      grid-column-start: 1;
      grid-row-start: 1;
      width: 270px;
      height: 100px; } }

@media (max-width: 325px) {
  /* tabla del index*/
  .inscriptos-container__table {
    width: 150px;
    font-size: 20px; } }

@media (max-width: 335px) {
  /*contenedor del iniciar sesion */
  .user-container {
    width: 220px;
    height: 100px;
    font-size: 10px;
    /* titulo del iniciar sesion */ }
    .user-container__h3 {
      background-color: #0d5f0d;
      width: 200px;
      height: 20px;
      font-size: 15px; }
  /* inputos del iniciar sesion */
  .user-container input {
    font-size: 10px; } }
