/* Contenedor del nav */

.nav-container {
    position:sticky;
    top: 0;
    font-family: 'dynapuff', cursive;
    list-style-type: none;
    background-color:rgb(78, 158, 78);
    font-size: large;
    margin-bottom: 15;
    text-align: left;
    text-decoration-line: none;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content:right;
    align-items:center;
    z-index: 200;
    // transicion del nav en todas las pag 
    &:hover {
        background-color: $colornavaside;
        
    }
   
    // pelota de futbol
    & span {
        display: none;
    }
    // nav se comporte como flex
    &__ul {
    display: flex;
    list-style-type: none;  
    flex-direction: row;
    // Enlaces de redireccion en el contenedor 
    & a {
        margin:0 15px;
    }
    /* palabras dentro del nav */
    &:hover {
        background-color:$colornavaside;
        color:black;
        padding: 20px;
    }

}

} 


/* Titulo */
.header-h1 {
    width: 1fr;
    font-size: 80px;
    text-align: center;
    border: 10px ridge $verde-main;
    border-radius: 10px;
    background-color:$verde-oscuro;
    margin-top: 20px;
    font-family:'aboreto', cursive;
    transition: transform 5s;
    animation-delay: 2s;
    //cambio de color en el h1
     &:hover {
    background: $negro;
    color:$verde-main;
    animation-delay: 2s;
     }
    
}
